SUPABASE_URL=fafdaff
SUPABASE_KEY=fdsfds

SUPABASE_DB_URL1=fdfafa.co:5432/postgres
SUPABASE_DB_URL=dzfdfafa1.pooler.supabase.com:6543/postgres
SECRET_KEY=fdafasfafafa

SUPABASE_ANON_KEY = 
SUPABASE_SERVICE_ROLE_KEY = 

FLASK_SECRET_KEY=
FLASK_ENV=production

# Upload Configuration
UPLOAD_FOLDER=/var/www/qa-dashboard/uploads
MAX_CONTENT_LENGTH=16777216